body{
    font-family: 'Poppins', sans-serif;
}
header{
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.page-header-title .header-background{
    background-image: url('../images/header-bg.jpg')
}

.page-header-title .header-background {
    padding-top: 200px;
    background-size: cover;
    background-position: bottom;
    box-shadow: 0 12px 46px 0 rgba(182, 14, 14, 0.05);
}
.page-header-title .inner-header {
    max-width: 1320px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 12px 46px 0 rgba(182, 14, 14, 0.05);
    margin-top: -54px;
    margin-bottom: 60px;
}
.page-header-title .inner-header .title-section {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}
.page-header-title .inner-header .title-section h2 {
    font-size: 40px;
    margin: 0;
}
.page-header-title .inner-header .title-section .breadcrumbs ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
.page-header-title .inner-header .title-section .breadcrumbs ul li {
    color: #fa2456;
    margin-right: 5px;
}
.page-header-title .inner-header .title-section .breadcrumbs ul li:last-child {
    margin-right: 0;
}
.page-header-title .inner-header .title-section .breadcrumbs ul li a {
    color: #707070;
    text-decoration: none;
}
.search-bar-form {
    display: flex;
    align-items: center;
}
.search-bar-form .search-bar {
    display: flex;
    width: calc(100% - 100px);
    align-items: center;
}
.search-bar-form .search-bar input {
    font-size: 30px;
    border: none;
    box-shadow: none;
    padding: 30px;
    width: calc(100% - 100px);
    padding-left: 0;
}
.search-bar-form .search-bar input:focus {
    outline: none;
}
.search-bar-form .search-bar button {
    width: 100px;
    font-size: 35px;
    background-color: transparent;
    box-shadow: none;
    border: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar-form .search-bar button:hover {
    color: #fa2456;
}
.search-bar-form .fliter-button {
    width: 100px;
    font-size: 35px;
    background-color: transparent;
    box-shadow: none;
    border: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar-form .fliter-button:hover {
    color: #fa2456;
}
.serach-result-header{
    text-align: center;
}
.result-sort-bar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    align-items: center;
    padding: 10px 0;
    margin-top: 20px;
    margin-bottom: 30px;
}
.result-sort-bar h5 {
    font-size: 16px;
    font-weight: 400;
    color: #a5a5a5;
    margin: 0;
}
.custom-select {
    border-radius: 0;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMjU2IDI1NiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjU2IDI1NjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPGc+DQoJCTxwb2x5Z29uIHBvaW50cz0iMjI1LjgxMyw0OC45MDcgMTI4LDE0Ni43MiAzMC4xODcsNDguOTA3IDAsNzkuMDkzIDEyOCwyMDcuMDkzIDI1Niw3OS4wOTMgCQkiLz4NCgk8L2c+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8L3N2Zz4NCg==")
}
.users-listing-card {
    margin-bottom: 30px;
}
.users-listing-card .image-section {
    position: relative;
    box-shadow: 0 12px 46px 0 rgba(182, 14, 14, 0.05);
}
.users-listing-card .image-section .user-img {
    height: 300px;
    background-color: #d5d5d5;
}
.users-listing-card .image-section .user-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.users-listing-card .image-section .age-group {
    background: #fa2456;
    background: -moz-linear-gradient(left, #fa2456 0%, #fd735a 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #fa2456), color-stop(100%, #fd735a));
    background: -webkit-linear-gradient(left, #fa2456 0%, #fd735a 100%);
    background: -o-linear-gradient(left, #fa2456 0%, #fd735a 100%);
    background: -ms-linear-gradient(left, #fa2456 0%, #fd735a 100%);
    background: linear-gradient(to right, #fa2456 0%, #fd735a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa2456', endColorstr='#fd735a', GradientType=1 );
    position: absolute;
    color: #fff;
    font-size: 16px;
    padding: 8px 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    top: 30px;
    right: 0;
}
.users-listing-card .image-section .online {
    background-color: #18a71e;
    height: 30px;
    width: 30px;
    border: 3px solid #fff;
    border-radius: 45px;
    position: absolute;
    right: 30px;
    bottom: -15px;
}
.users-listing-card .details-section {
    margin: 0 30px;
    background-color: #fff;
    box-shadow: 0 12px 46px 0 rgba(182, 14, 14, 0.05);
    border-bottom-right-radius: 1000px;
    border-bottom-left-radius: 1000px;
    text-align: center;
    padding: 30px;
}
.users-listing-card .details-section h3 {
    font-size: 22px;
    margin: 0 0 5px;
}
.users-listing-card:hover .details-section h3 {
    color: #fa2456;
}
.users-listing-card .details-section h4 {
    font-size: 16px;
    font-weight: 400;
    color: #838383;
    margin: 0 0 5px;
}
.users-listing-card .details-section h5 {
    font-size: 16px;
    font-weight: 400;
    color: #fa2456;
    margin: 0;
}
.pagination {
    justify-content: center;
    margin: 50px auto auto;
    box-shadow: 0 12px 46px 0 rgba(182, 14, 14, 0.05);
    display: inline-flex;
    border-radius: 50px;
    overflow: hidden;
}
.pagination .page-item .page-link {
    height: 50px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    position: relative;
    color: #000;
}
.pagination .page-item:hover .page-link{
    color: #fa2456;
}
.pagination .page-item.active .page-link {
    background: #fa2456;
    background: -moz-linear-gradient(left, #fa2456 0%, #fd735a 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #fa2456), color-stop(100%, #fd735a));
    background: -webkit-linear-gradient(left, #fa2456 0%, #fd735a 100%);
    background: -o-linear-gradient(left, #fa2456 0%, #fd735a 100%);
    background: -ms-linear-gradient(left, #fa2456 0%, #fd735a 100%);
    background: linear-gradient(to right, #fa2456 0%, #fd735a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa2456', endColorstr='#fd735a', GradientType=1 );
    color: #fff;
}
.pagination .page-item:first-child .page-link:after {
    position: absolute;
    content: '';
    border-right: 1px solid #e9ecef;
    z-index: 1;
    height: 100%;
    right: 0;
}
.pagination .page-item:last-child .page-link:after {
    position: absolute;
    content: '';
    border-right: 1px solid #e9ecef;
    z-index: 1;
    height: 100%;
    left: 0;
}
.pagination-container {
    text-align: center;
    margin-bottom: 50px;
}
.menu a{
    color: #191919;
}
.menu a:hover{
    color: #fa2456;
}
.users-listing-card {
    position: relative;
}
.users-listing-card .link-profile {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
}
.single-user-profile {
    display: flex;
    box-shadow: 0 3px 34px 0 rgba(0, 0, 0, 0.08);
    width: 100%;
    margin-bottom: 50px;
}
.single-user-profile .slider {
    width: 50%;
    background-color: #d5d5d5;
}
.single-user-profile .user-details {
    width: 50%;
}
.single-user-profile .user-details .user-header {
    padding: 60px;
    text-align: center;
    border-bottom: 1px solid #cfcfcf;
}
.single-user-profile .user-details .user-header h2 {
    font-size: 32px;
    font-weight: 400;
    margin: 0 0 10px;
}
.single-user-profile .user-details .user-header h4 {
    font-size: 20px;
    color: #fa2456;
    margin: 0;
    font-weight: 400;
    margin-bottom: 5px;
}
.single-user-profile .user-details .user-header h5 {
    font-weight: 400;
    font-size: 16px;
    color: #797979;
}
.single-user-profile .user-details .desc {
    padding: 30px 60px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #797979;
}
.single-user-profile .user-details .action {
    padding: 30px 60px;
    text-align: center;
    padding-bottom: 60px;
}
.single-user-profile .user-details .action .btn-theme {
    margin-right: 30px;
}
.btn-theme {
    background: #fa2456;
    background: -moz-linear-gradient(left, #fa2456 0%, #fd735a 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #fa2456), color-stop(100%, #fd735a));
    background: -webkit-linear-gradient(left, #fa2456 0%, #fd735a 100%);
    background: -o-linear-gradient(left, #fa2456 0%, #fd735a 100%);
    background: -ms-linear-gradient(left, #fa2456 0%, #fd735a 100%);
    background: linear-gradient(to right, #fa2456 0%, #fd735a 100%);
    color: #fff;
    border-radius: 50px;
    min-width: 140px;
}
.btn-theme:hover,
.btn-theme:focus {
    color: #fff;
}
.btn-theme-outline {
    border: 1px solid #e0e0e0;
    color: #fa2456;
    border-radius: 50px;
    min-width: 140px;
}
.btn-theme-outline:hover,
.btn-theme-outline:focus {
    color: #fa2456;
}
.single-user-profile .slider {
    min-height: 300px;
}
.single-user-profile .slider .swiper-container {
    height: 100%;
}
.single-user-profile .slider .swiper-container .swiper-slide {
    height: 100%;
}
.single-user-profile .slider .swiper-container .swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
.swiper-buttons {
    position: absolute;
    bottom: 30px;
    z-index: 9;
    display: flex;
    border-radius: 50px;
    overflow: hidden;
    left: calc(50% - 60px);
}
.swiper-buttons .btn-swiper-prev,
.swiper-buttons .btn-swiper-next {
    background-color: #fff;
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
}
.swiper-buttons .btn-swiper-prev:hover,
.swiper-buttons .btn-swiper-next:hover {
    background: #fa2456;
    background: -moz-linear-gradient(left, #fa2456 0%, #fd735a 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #fa2456), color-stop(100%, #fd735a));
    background: -webkit-linear-gradient(left, #fa2456 0%, #fd735a 100%);
    background: -o-linear-gradient(left, #fa2456 0%, #fd735a 100%);
    background: -ms-linear-gradient(left, #fa2456 0%, #fd735a 100%);
    background: linear-gradient(to right, #fa2456 0%, #fd735a 100%);
    color: #fff;
}
.swiper-buttons .btn-swiper-prev:focus,
.swiper-buttons .btn-swiper-next:focus {
    outline: none;
}
.swiper-buttons .btn-swiper-prev.swiper-button-disabled,
.swiper-buttons .btn-swiper-next.swiper-button-disabled {
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.35);
}
.swiper-buttons .btn-swiper-prev.swiper-button-disabled:hover,
.swiper-buttons .btn-swiper-next.swiper-button-disabled:hover {
    background: #fff;
    color: rgba(0, 0, 0, 0.35);
}
.profile-header {
    box-shadow: 0 12px 46px 0 rgba(182, 14, 14, 0.05);
}
.profile-header .profile-header-image {
    min-height: 300px;
    display: flex;
    width: 100%;
    background-size: cover;
    position: relative;
}
.profile-header .profile-header-image .edit-btn {
    position: absolute;
    right: 0;
    top: 30px;
    padding: 10px;
    background-color: #fff;
    color: #fa2456;
    cursor: pointer;
    height: 40px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    font-size: 20px;
}
.profile-header .profile-header-image .social-media {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
}
.profile-header .profile-header-image .social-media a {
    padding: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 30px;
    margin-left: 5px;
    color: #fff;
    font-size: 14px;
}
.profile-header .profile-header-image .social-media a.facebook {
    background-color: #455e95;
}
.profile-header .profile-header-image .social-media a.twitter {
    background-color: #38a7e1;
}
.profile-header .profile-header-image .social-media a.linkedin {
    background-color: #0078b6;
}
.profile-header .profile-header-image .social-media a:hover {
    text-decoration: none;
}
.profile-header .profile-details {
    display: flex;
    border-bottom: 1px solid #f0f0f0;
    align-items: center;
}
.profile-header .profile-details .profile-user {
    display: flex;
    padding-left: 60px;
    align-items: center;
}
.profile-header .profile-details .profile-user .user-image {
    height: 180px;
    width: 180px;
    overflow: hidden;
    border-radius: 1000px;
    border: 5px solid #fff;
    transform: translatey(-40px);
    position: relative;
}
.profile-header .profile-details .profile-user .user-image .edit-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 999;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.31);
    color: #fff;
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
}
.profile-header .profile-details .profile-user .user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-header .profile-details .profile-user .user-details {
    margin-left: 30px;
}
.profile-header .profile-details .profile-user .user-details h3 {
    font-size: 24px;
    font-weight: 400;
    color: #1f1f1f;
    margin: 0 0 5px;
}
.profile-header .profile-details .profile-user .user-details h5 {
    font-size: 16px;
    color: #838383;
    font-weight: 400;
    margin: 0 0 10px;
}
.profile-header .profile-details .profile-user .user-details h6 {
    font-size: 16px;
    color: #fa2456;
    font-weight: 400;
    margin: 0 0 5px;
}
.profile-header .profile-details .likes {
    margin-left: auto;
    border-left: 1px solid #f0f0f0;
    height: 100%;
    padding: 30px;
}
.profile-header .profile-details .likes h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}
.profile-header .profile-details .likes h6 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: #838383;
}
.profile-header .images-slider {
    padding: 0 30px 30px;
}
.profile-header .images-slider .swiper-slide .slider-image {
    padding: 0px;
}
.profile-header .images-slider .swiper-slide .slider-image img {
    width: 100%;
}
.profile-header-title {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}
.profile-header-title h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
}
.profile-header-title button {
    border: none;
    background-color: transparent;
    font-size: 24px;
}
.profile-header-title button:hover {
    color: #fa2456;
}

@media screen and (max-width:768px){
    .single-user-profile{
        flex-wrap: wrap;
    }
    .single-user-profile .slider {
        width: 100%;
    }
    .single-user-profile .user-details {
        width: 100%;
    }
}
@media (min-width: 1400px){
    .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
        max-width: 1140px;
    }
}